@model LabasanCryptoFountain.Models.Account

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TotalSentSecond" class="control-label"></label>
                <input asp-for="TotalSentSecond" class="form-control" />
                <span asp-validation-for="TotalSentSecond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSentMinute" class="control-label"></label>
                <input asp-for="TotalSentMinute" class="form-control" />
                <span asp-validation-for="TotalSentMinute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSentHour" class="control-label"></label>
                <input asp-for="TotalSentHour" class="form-control" />
                <span asp-validation-for="TotalSentHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSentDay" class="control-label"></label>
                <input asp-for="TotalSentDay" class="form-control" />
                <span asp-validation-for="TotalSentDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSentWeek" class="control-label"></label>
                <input asp-for="TotalSentWeek" class="form-control" />
                <span asp-validation-for="TotalSentWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSentMonth" class="control-label"></label>
                <input asp-for="TotalSentMonth" class="form-control" />
                <span asp-validation-for="TotalSentMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalSentYear" class="control-label"></label>
                <input asp-for="TotalSentYear" class="form-control" />
                <span asp-validation-for="TotalSentYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
